<!-- Created by Saeeda Doolan and Beatrix Popa -->

{% extends 'layout.html' %}
{% block content %}
    <body>
    <div
            class="bg-image d-flex justify-content-center align-items-center"
            style="background-image: url('../static/photos/many_stars.png');
            height: 100vh;">


        <div class="container-fluid ">

            <div class="row justify-content-md-center">
                <div class="card mb-3 h-auto text-center" style="background-color: #000000;">
                    <div class="align-content-center"><img src="../static/photos/doggy pic.jpg" height = "600vh" width = "800
"  >
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

{% endblock %}
